/*	HTML Reset	*/
html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent}
body{line-height:1}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
nav ul{list-style:none}
blockquote,q{quotes:none}
blockquote:before,blockquote:after,q:before,q:after{content:none}
a{margin:0;padding:0;font-size:100%;vertical-align:baseline;background:transparent}
ins{background-color:#ff9;color:#000;text-decoration:none}
mark{background-color:#ff9;color:#000;font-style:italic;font-weight:bold}
del{text-decoration:line-through}
abbr[title],dfn[title]{border-bottom:1px dotted;cursor:help}
table{border-collapse:collapse;border-spacing:0}
hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0}
input,select{vertical-align:middle}

/*	-	-	-	-	-	-	-	-	-	-	*/
@import url(https://fonts.googleapis.com/css?family=Roboto);
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:200);
html, body{
	background-color:#ffe5e5;
	font-family:Roboto, sans-serif;
}
.header img{
 	background-color:white;
}
header{
	background-color:#222;
}
.home{
	font-family:Source Sans Pro, sans-serif;
	color:#aaa;
	font-size:3em;
	position: absolute;
	margin-left:4em;
	margin-top:0.5em;
}
/*	Navigation Bar -- Welcome, Class Registration, Academics, Finance, GMail, Blackboard*/
nav{
	background-color:#333;
	margin: 0 auto;
	overflow:hidden;
}
nav ul li{
	display:inline-block;
	list-style-type:none;
}
nav > ul > li > a{
	color:#aaa;
	display:block;
	line-height:2em;
	padding: 0.5em 0.5em;
	text-decoration:none;
	margin:right;
}
a:hover{	/*When navbar link is hovered, it will highlight a color*/
	background-color:#cc0000;
	font-weight: bold;
}

/******* Boxes for options ****/

section.registration-id{
	margin-top: 2em;
	margin-left:3em;
	margin-right:5.5em;
  	position: relative;
  	width: auto;
  	height:auto;
  	font-size: 1em;
  	line-height: 2em;
  	color: #FF0000;
  	border-radius: 10px;
  	padding: 1em;
  	border: 5px solid #C11B17 ;
	background-color: #FAFAFA;
	box-sizing: border-box;
	float:right;
	

}

section.registration-id span{
       font-size: 1.5em;
}

section.registration-id ul{
	list-style: none;
}
section.registration-tools{
	margin: 2em;
  	position: relative;
  	width: auto;
  	height:auto;
  	font-size: 1em;
  	line-height: 2em;
  	color: #FF0000;
  	border-radius: 10px;
  	padding: 1em;
  	border: 5px solid #C11B17 ;
	background-color: #FAFAFA;
	box-sizing: border-box;
	float:left;
	
}

section.registration-tools span{
	font-size:1.5em;

}

section.registration-tools ul{
	list-style:none;
}


/**** Registration page *****/
section.registration{
	margin:2em;
	display:block;
}
section.registration select{
	margin-left:7.3em;
	width:16em;
	margin-bottom:2em;
}
section.registration .form2{
	margin-top:1em;
	margin-left:23.5em;
}

/****** Schedule ******/


section.schedule{
	margin:2em;
}

section.schedule h3{
	margin:1em;
}

section.schedule table tbody{
	margin: 2em;
  	position: relative;
  	width: auto;
  	height:auto;
  	font-size: 1em;
  	line-height: 2em;
  	color: #FF0000;
  	border-radius: 10px;
  	padding: 1em;
  	border: 5px solid #C11B17 ;
	background-color: #FAFAFA;
	box-sizing: border-box;
}


section.schedule table{
	margin:1em;
}

section.schedule table tbody tr{
	display: block;
	margin: 1em;
}

section.schedule table tbody tr th{
	padding:2em;
}

section.schedule table tbody tr.classdetails{
	display: block;
	margin-top: -3.8em;
}
section.schedule table tbody tr.classdetails td{
	padding:1.7em;
	margin-top:1em;
}
section.schedule table tbody tr.classdetails td select{
	display:inline;
}

section.schedule.form3 {
	margin-top:1em;
	margin-left:23.5em;
}

/******** news css *******/
#news{
	height: 25%;
	border: 2px solid black;
	padding: 10px;
	margin: 2em;
}

#news ul li{
	list-style:none;
	display:inline;
}

/******** calendar css *******/
#calendar{
	height: 50%
	width: 80%;
}
#cal {
	border: 0;
	width: 100%;
	height: 100%;
	frameborder: 0;
}
