/*	HTML Reset	*/
html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent}
body{line-height:1}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
nav ul{list-style:none}
blockquote,q{quotes:none}
blockquote:before,blockquote:after,q:before,q:after{content:none}
a{margin:0;padding:0;font-size:100%;vertical-align:baseline;background:transparent}
ins{background-color:#ff9;color:#000;text-decoration:none}
mark{background-color:#ff9;color:#000;font-style:italic;font-weight:bold}
del{text-decoration:line-through}
abbr[title],dfn[title]{border-bottom:1px dotted;cursor:help}
table{border-collapse:collapse;border-spacing:0}
hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0}
input,select{vertical-align:middle}

/*	-	-	-	-	-	-	-	-	-	-	*/
@import url(https://fonts.googleapis.com/css?family=Roboto);
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:200);
html, body{
	background-color:#D1D0CE;
	font-family:Roboto, sans-serif;
}
.header img{
 	background-color:white;
}
header{
	background-color:#222;
}
.home{
	font-family:Source Sans Pro, sans-serif;
	color:#aaa;
	font-size:3em;
	position: absolute;
	margin-left:4em;
	margin-top:0.5em;
}
/*	Navigation Bar -- Welcome, Class Registration, Academics, Finance, GMail, Blackboard*/
.navigation {
  width: 100%;
  height: 100%;
  position: fixed;
  margin: auto;
  z-index: 0;
  
  list-style: none;
  background: #111;
   -moz-box-shadow:		0px 0px 5px 0px #000000;
   -webkit-box-shadow: 0px 0px 5px 0px #000000;
    box-shadow:       0px 0px 5px 0px #000000;
  
}

/*
nav{
	background-color:#333;
	margin: 0 auto;
	overflow:hidden;
}
nav ul li{
	display:inline-block;
	list-style-type:none;
}
nav > ul > li > a{
	color:#aaa;
	display:block;
	line-height:2em;
	padding: 0.5em 0.5em;
	text-decoration:none;
	margin:right;
}
*/

a:hover{	/*When navbar link is hovered, it will highlight a color*/
	background-color:#cc0000;
	font-weight: bold;
}
.nav-item {
  width:12.5em;
  border-top: 1px solid #111;
  border-bottom: 1px solid #000;
   -moz-box-shadow:		0px 3px 5px 0px #000000;
   -webkit-box-shadow: 0px 3px 5px 0px #000000;
    box-shadow:       		  0px 3px 5px 0px #000000;
}

.nav-item a {
  display: block;
  padding: 1em;
  background: linear-gradient(135deg, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%);
  color: white;
  font-size: 1.2em;
  text-decoration: none;
  transition: color 0.2s, background 0.5s;
}

.nav-item a:hover {
  color: #c74438;
  background: linear-gradient(135deg, rgba(0,0,0,0) 0%,rgba(75,20,20,0.65) 100%);
}

.nav-trigger {
    position: absolute;
    clip: rect(0, 0, 0, 0);
}
label[for="nav-trigger"] {
    /* ... previous styles here... */
    width: 30px;
    height: 30px;
    cursor: pointer;
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' x='0px' y='0px' width='30px' height='30px' viewBox='0 0 30 30' enable-background='new 0 0 30 30' xml:space='preserve'><rect width='30' height='6'/><rect y='24' width='30' height='6'/><rect y='12' width='30' height='6'/></svg>");
    background-size: contain;
}

/******* Boxes for options ****/

/* From Home Page */

section.content1{	
	border: 0.1em solid #a20000;
	border-radius: 2em;
	background-color:#222222;
	padding: 1em;
	margin: 0 auto;
	margin-left:15em;
	margin-top: 1em;
	width:35%;
	height:40em;
	position:relative;
	
}
section.content2{
	border: 0.1em solid #a20000;
	border-radius: 2em;
	background-color:#222222;
	padding: 1em;
	margin: 0 auto;
	margin-left:65em;
	margin-top: -42em;
	width:35%;
	height:40em;
	position:relative;
	
}
section.content1 > h1.title, section.content2 > h1.title{
	font-size:2em;
	color:white;
	padding-bottom:0.5em;
}
section.content1 > h2.headline{
	font-size:1.2em;
	color:#cccccc;
	padding-bottom:0.45em;
}
section.content1 > p.preview{
	font-size:1.1em;
	line-height:1.1em;
	color:#aaaaaa;
	padding-bottom:2em;
}

section.registration-id{
	margin-top: 2em;
	margin-left:3em;
	margin-right:5.5em;
  	position: relative;
  	width: auto;
  	height:auto;
  	font-size: 1em;
  	line-height: 2em;
  	color: #FF0000;
  	border-radius: 10px;
  	padding: 1em;
  	border: 5px solid #C11B17 ;
	background-color: #FAFAFA;
	box-sizing: border-box;
	float:right;
	

}

section.registration-id span{
       font-size: 1.5em;
}

section.registration-id ul{
	list-style: none;
}
section.registration-tools{
	margin: 2em;
  	position: relative;
  	width: auto;
  	height:auto;
  	font-size: 1em;
  	line-height: 2em;
  	color: #FF0000;
  	border-radius: 10px;
  	padding: 1em;
  	border: 5px solid #C11B17 ;
	background-color: #FAFAFA;
	box-sizing: border-box;
	float:left;
	
}

section.registration-tools span{
	font-size:1.5em;

}

section.registration-tools ul{
	list-style:none;
}


/**** Registration page *****/
section.registration{
	margin:2em;
	display:block;
}
section.registration select{
	margin-left:7.3em;
	width:16em;
	margin-bottom:2em;
}
section.registration .form2{
	margin-top:1em;
	margin-left:23.5em;
}

/****** Schedule ******/
section.schedule{
	margin:2em;
}

section.schedule h3{
	margin:1em;
}

section.schedule table tbody{
	margin: 2em;
  	position: relative;
  	width: auto;
  	height:auto;
  	font-size: 1em;
  	line-height: 2em;
  	color: #FF0000;
  	border-radius: 10px;
  	padding: 1em;
  	border: 5px solid #C11B17 ;
	background-color: #FAFAFA;
	box-sizing: border-box;
}


section.schedule table{
	margin:1em;
}

section.schedule table tbody tr{
	display: block;
	margin: 1em;
}

section.schedule table tbody tr th{
	padding:2em;
}

section.schedule table tbody tr.classdetails{
	display: block;
	margin-top: -3.8em;
}
section.schedule table tbody tr.classdetails td{
	padding:1.7em;
	margin-top:1em;
}
section.schedule table tbody tr.classdetails td select{
	display:inline;
}

section.schedule.form3 {
	margin-top:1em;
	margin-left:23.5em;
}
th{
	color:white;
}

/******** news css *******/
#news{
	height: 40%;
	border: 2px solid black;
	padding: 2%;
	margin: 2em;
}

#news ul li{
	list-style:none;
	display:inline;
}

/******** calendar css *******/
#calendar{
	height: 100%;
	width: 80%;
}
#cal {
	position: relative;
	left:5%;
	border: 0;
	width: 90%;
	height: 50%;
}
